Jason Marin - Feeder 3.1

<h1>Data Compilation in Python</h1>

<h4>Beginning your journey:</h4>

<h5>Procedural Overview:</h5>

This introduction will include:
<p>1. an explanation of the Pandas package and a few of its functions<br>
   2. an example of how to modify data and highlight choice sections<br>
   3. how to concatonate various simplified data sets so that all the desired data is displayed in a certain manner<br>
   4. the creation of a simplified data set from 2014-2015 County Health Data that highlights low birthweight in NC counties</p>

Before modifying data using Python, the data must first be imported into the file.

To do this, we need to first import Pandas into the file, which is an open-source package that allows for data compilation and organization.

The notation for this is <code>import pandas</code>. We can also use <code>as pd</code> so that we only have to type pd when we want to use pandas functions.

In [1]:
import pandas as pd

Now that pandas is available for our use, we can use it to call our data file, making it available for modiffication.

To do this, we need to use the notation <code>pd.read_csv(<i>"filename"</i>)</code>. Again we should make it easier for us to use the data, so defining rawdata (rd) as the file, will make it much easier for use to use the file's information. We need to define it using the code below:

In [2]:
rd = pd.read_csv("CountyHealthData_2014-2015.csv")
print(rd)

     State Region  Division                      County   FIPS  GEOID  \
0       AK   West   Pacific  Aleutians West Census Area   2016   2016
1       AK   West   Pacific  Aleutians West Census Area   2016   2016
2       AK   West   Pacific           Anchorage Borough   2020   2020
3       AK   West   Pacific           Anchorage Borough   2020   2020
4       AK   West   Pacific          Bethel Census Area   2050   2050
...    ...    ...       ...                         ...    ...    ...
6104    WY   West  Mountain                Uinta County  56041  56041
6105    WY   West  Mountain             Washakie County  56043  56043
6106    WY   West  Mountain             Washakie County  56043  56043
6107    WY   West  Mountain               Weston County  56045  56045
6108    WY   West  Mountain               Weston County  56045  56045

       SMS Region      Year  Premature death  Poor or fair health  ...  \
0     Insuff Data  1/1/2014              NaN                0.122  ...
1     Insuff Data  1/1/2015              NaN                0.122  ...
2       Region 22  1/1/2014           6827.0                0.125  ...
3       Region 22  1/1/2015           6856.0                0.125  ...
4     Insuff Data  1/1/2014          13345.0                0.211  ...
...           ...       ...              ...                  ...  ...
6104  Insuff Data  1/1/2015           7436.0                0.135  ...
6105  Insuff Data  1/1/2014           6580.0                0.106  ...
6106  Insuff Data  1/1/2015           7572.0                0.106  ...
6107  Insuff Data  1/1/2014           5633.0                0.162  ...
6108  Insuff Data  1/1/2015           7819.0                0.162  ...

      Drug poisoning deaths  Uninsured adults  Uninsured children  \
0                       NaN             0.374               0.250
1                       NaN             0.314               0.176
2                     15.37             0.218               0.096
3                     17.08             0.227               0.123
4                       NaN             0.394               0.124
...                     ...               ...                 ...
6104                  18.66             0.192               0.090
6105                    NaN             0.225               0.086
6106                    NaN             0.226               0.101
6107                    NaN             0.201               0.084
6108                    NaN             0.189               0.092

      Health care costs  Could not see doctor due to cost  \
0                3791.0                             0.185
1                4837.0                             0.185
2                6588.0                             0.119
3                6582.0                             0.119
4                5860.0                             0.200
...                 ...                               ...
6104             7600.0                             0.123
6105             8202.0                             0.099
6106             7940.0                             0.099
6107             6906.0                             0.130
6108             7238.0                             0.130

      Other primary care providers  Median household income  \
0                            216.0                    69192
1                            254.0                    74088
2                            135.0                    71094
3                            148.0                    76362
4                            169.0                    41722
...                            ...                      ...
6104                          47.0                    60953
6105                          47.0                    49533
6106                          47.0                    50740
6107                          28.0                    53665
6108                          28.0                    59314

      Children eligible for free lunch  Homicide rate  \
0                                0.127            NaN
1                                0.133            NaN
2                                0.319           6.29
3                                0.334           5.60
4                                0.668          12.77
...                                ...            ...
6104                             0.273            NaN
6105                             0.328            NaN
6106                             0.309            NaN
6107                             0.232            NaN
6108                             0.235            NaN

      Inadequate social support
0                         0.287
1                           NaN
2                         0.160
3                           NaN
4                         0.477
...                         ...
6104                        NaN
6105                      0.133
6106                        NaN
6107                      0.171
6108                        NaN

[6109 rows x 64 columns]

<h4>Filtering your data:</h4>

To begin modifying the data, there are quite a few functions available to us. Some of the most simple functions to begin this process are the <code>.loc</code> and <code>.iloc</code> attributes. These will allow us to pull specific data from our dataset to highlight or modify. Some examples of this are below.

In [3]:
rd.loc[0:3,"County"]

0    Aleutians West Census Area
1    Aleutians West Census Area
2             Anchorage Borough
3             Anchorage Borough
Name: County, dtype: object

In [4]:
rd.iloc[0:3,3]

0    Aleutians West Census Area
1    Aleutians West Census Area
2             Anchorage Borough
Name: County, dtype: object

The first example, with <code>loc</code>, displays rows 0-3 in the column named "County".

The second example using <code>iloc</code>, does something similar, except it accepts only integers to pick the rows and columns to highlight.

More advanced filtering will allow us to search for specific terms in our data to pull out.

For example we can use the function below to find all the data where the region is classified as West. We do this by creating an inner function which will return True or False and an outer function that looks for data give the True/False statement.

In [5]:
rd[rd["Region"] == "West"]

,State,Region,Division,County,FIPS,GEOID,SMS Region,Year,Premature death,Poor or fair health,...,Drug poisoning deaths,Uninsured adults,Uninsured children,Health care costs,Could not see doctor due to cost,Other primary care providers,Median household income,Children eligible for free lunch,Homicide rate,Inadequate social support
0,AK,West,Pacific,Aleutians West Census Area,2016,2016,Insuff Data,1/1/2014,NaN,0.122,...,NaN,0.374,0.250,3791.0,0.185,216.0,69192,0.127,NaN,0.287
1,AK,West,Pacific,Aleutians West Census Area,2016,2016,Insuff Data,1/1/2015,NaN,0.122,...,NaN,0.314,0.176,4837.0,0.185,254.0,74088,0.133,NaN,NaN
2,AK,West,Pacific,Anchorage Borough,2020,2020,Region 22,1/1/2014,6827.0,0.125,...,15.37,0.218,0.096,6588.0,0.119,135.0,71094,0.319,6.29,0.160
3,AK,West,Pacific,Anchorage Borough,2020,2020,Region 22,1/1/2015,6856.0,0.125,...,17.08,0.227,0.123,6582.0,0.119,148.0,76362,0.334,5.60,NaN
4,AK,West,Pacific,Bethel Census Area,2050,2050,Insuff Data,1/1/2014,13345.0,0.211,...,NaN,0.394,0.124,5860.0,0.200,169.0,41722,0.668,12.77,0.477
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6104,WY,West,Mountain,Uinta County,56041,56041,Insuff Data,1/1/2015,7436.0,0.135,...,18.66,0.192,0.090,7600.0,0.123,47.0,60953,0.273,NaN,NaN
6105,WY,West,Mountain,Washakie County,56043,56043,Insuff Data,1/1/2014,6580.0,0.106,...,NaN,0.225,0.086,8202.0,0.099,47.0,49533,0.328,NaN,0.133
6106,WY,West,Mountain,Washakie County,56043,56043,Insuff Data,1/1/2015,7572.0,0.106,...,NaN,0.226,0.101,7940.0,0.099,47.0,50740,0.309,NaN,NaN
6107,WY,West,Mountain,Weston County,56045,56045,Insuff Data,1/1/2014,5633.0,0.162,...,NaN,0.201,0.084,6906.0,0.130,28.0,53665,0.232,NaN,0.171
6108,WY,West,Mountain,Weston County,56045,56045,Insuff Data,1/1/2015,7819.0,0.162,...,NaN,0.189,0.092,7238.0,0.130,28.0,59314,0.235,NaN,NaN

If we want to keep this subset of our original data, we need to set it equal to an identifier, in this case <code>West_Regions</code>, using the <code>copy()</code> function.

In [6]:
West_Regions = rd[rd["Region"] == "West"].copy()

Now we can call this specific data later on by using West_Regions.

<h4>Combining data:</h4>

The final phase of using adjusting data so that the information you want to display is displayed is by adding subsets together.

There are 3 pandas functions that allow us to add data together in different ways: `pd.concat`, `pd.merge`, and `pd.join`.

First, `pd.concat` allows us to concatenate data. This is best used when data naturally flows together, such as adding a subset of rows one and two to a subset of rows three and four.

In [7]:
WE = pd.DataFrame({"Region" : ["West","East"],
                   "Population (millions)" : [112,160]})

In [8]:
NwSe = pd.DataFrame({"Region" : ["Northwest","Southeast"],
                   "Population (millions)" : [20,43]})

In [9]:
print(WE)
print(NwSe)

  Region  Population (millions)
0   West                    112
1   East                    160
      Region  Population (millions)
0  Northwest                     20
1  Southeast                     43

With the two example datasets above, we can add them together vertically using the <code>pd.concat</code> function.

This function requires us to define an axis as 1 or 0, which decides whether the data is added vertically or horizontally. Next the ignore_index=True part of the function tells the function to ignore the number in front of region and run from 0-3 insted of 0,1 - 0,1. The final false tells Python to ignore a sorting error that can occur when axes are not aligned correctly.

In [10]:
total = pd.concat([WE,NwSe],axis=0,ignore_index=True,sort=False)
total

      Region  Population (millions)
0       West                    112
1       East                    160
2  Northwest                     20
3  Southeast                     43

Next, we use the merge function when we have multiple datapoints for the same identifier, in the case above Region. If we were, for example, trying to add a column of birthrate, we could take a dataset that includes Region and Birthrate and merge this with the data above.

We could use the code below to merge the data above with an imaginary birthrate dataset:

<code>pd.merge(total,birthrate)</code>

Finally, the join function is a rarely used function that joins two dataframes that share the same name values. The merge function is generally more useful.

<h3>Compiled Data</h3>

For the data set that we have in this example, the "County Health Data", we can simplify this data into a more synthesized and simplistic dataset that focuses on the information that matters to us.

In this case I am interested in finding the percentage of low birthweight on the East Coast. I was born almost two months early and was placed in the premature child ward after birth so I am curious to see how many children have had a similar experience.

In [14]:
simpli1 = rd[rd["Region"] == "South"]
simpli2 = simpli1.loc[:,"Low birthweight"]
simpli2

46      0.09
47      0.09
48      0.09
49      0.09
50      0.12
        ...
6058    0.06
6059    0.10
6060    0.10
6061    0.12
6062    0.12
Name: Low birthweight, Length: 2803, dtype: float64

Because this dataset is still so large, I will simplify it further by specifically searching for a Low birthweight in NC

In [ ]:
simpli1

In [12]:
final = simpli1[simpli1["State"] == "NC"]
final_subset = final.iloc[:,12]
final_subset

3243    0.09
3244    0.09
3245    0.08
3246    0.08
3247    0.08
        ...
3438    0.10
3439    0.10
3440    0.10
3441    0.08
3442    0.08
Name: Low birthweight, Length: 200, dtype: float64

In [13]:
final_subset.to_csv("final_subset.csv", index=False)

In [21]:
final_subset2 = final.loc[:,["County","Low birthweight"]]
final_subset2

                County  Low birthweight
3243   Alamance County             0.09
3244   Alamance County             0.09
3245  Alexander County             0.08
3246  Alexander County             0.08
3247  Alleghany County             0.08
...                ...              ...
3438     Wilson County             0.10
3439     Yadkin County             0.10
3440     Yadkin County             0.10
3441     Yancey County             0.08
3442     Yancey County             0.08

[200 rows x 2 columns]

In [23]:
final_subset2.to_csv("final_subset2.csv", index=False)

After producing this subset of data, I used Microsoft Excel to simplify the data even further, by averging the two values for each county into one. This made it far easier for me to create a visualization from the data and present less complicated data in general.